doctype html
html(lang="en")
  body
    h1 A Neeeeewwwww Caaaaar!!!
    
    form(action='/cars' method='post')

      label Driver
      input(type="text" name="car[driver]")
      br
      label Year
      input(type="number" name="car[year]")
      br
      label Make
      input(type="text" name="car[make]")
      br
      label Model
      input(type="text" name="car[model]")
      br
      input(type='submit' name='commit' value='Submit button')